* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, #18A5A7, #BFFFC7);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

nav {
    width: 95vw;
    height: 100px;
    display: flex;
    margin:auto;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 150px;
    filter: drop-shadow(10px 10px 10px rgb(77, 77, 77));
    filter: drop-shadow();

}

button {
    border: none;
    width: 175px;
    border-radius: 250px;
    background-color: black;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 30px;
    height: 60px;
    margin: auto;
}

#logo {
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
}

#navigator {
    display: flex;
    justify-content: space-around;
    width: 60vw;
}

#theme {
    border-radius: 250px;
    background: linear-gradient(to right, rgb(0, 229, 255), rgb(255, 63, 95));
    border: none;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#theme:hover {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 600px;
    margin: 10vh auto;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(10px 20px 25px rgb(26, 26, 26));
}

.equation {
    width: 50vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button:hover {
    color: rgb(199, 199, 199);
}

input {
    width: 6vw;
    height: 35px;
    text-align: center;
    border-radius: 35px;
    border: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
    background-color: rgb(207, 207, 207);
}

input:focus {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


label {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
}

#solve {
    height: 10vh;
    width: 25vw;
    font-size: 6vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 156, 94);
}

#solve:hover {
    background-color: rgb(0, 140, 84);
    color: black;
}

#answer {
    font-size: 6vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h5 {
    font-family: "Lato", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 4vh;
}

@media only screen and (orientation: portrait) {
    nav {
        width: 95vw;
        height: 70px;
        justify-content: space-around;
    }

    #logo {
        font-size: 23px;
        width: 80px;
    }

    button {
        font-size: 15px;
        height: 30px;
    }

    #theme {
        font-size: 20px;
    }

    #navigator {
        justify-content: space-between;
        width: 65vw;
    }

    label {
        font-size: 35px;
    }

    input {
        height: 35px;
        font-size: 30px;
    }

    form {
        height: 450px;
        width: 300px;
    }

    #solve {
        height: 80px;
        width: 50vw;
        font-size: 5vh;
    }

}